* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

body{
background-color: #3d7978;

}


  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .stamp_img > img {
      width: 80%;
      margin: 10%;
  }

  .accordion_nav {
    width: 90%;
    margin: 0 5% 0 5%;
  }

  .accordion__button {
    position: relative;
    display: block;
    margin: -1px 0 0;
    border: 1px solid #800a47;
    padding: 0.7rem 1rem;
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    background: #800a47;
    cursor: pointer;
 }
  .accordion__button:focus, .accordion__button:hover {
    background: rgb(226, 226, 226);
    color: #800a47;
 }
  .accordion__button:focus::after, .accordion__button:hover::after {
    border-top-color: #800a47
 }
  .accordion__button::after {
    content: '';
    position: absolute;
    right: 1rem;
    top: 0.65rem;
    width: 0;
    height: 0;
    /* border-left: 10px solid transparent;
    border-right: 10px solid transparent; */
    border-top: 15px solid white;
 }

 ul#accordionGroup{
     list-style-type: none;
 }
 ul#accordionGroup > li {
    margin-bottom: 6px;
}



 @media screen and (min-width: 700px) {
  body {
    background-color: blue;
  }
  .mobile {
    display: none;
  }
}

.accordion__section > a {
  float: left;
  }


/* 

hiding css tobi styles
*/
.tobi-zoom__icon {
  display: none !important;
}




